
name: Wenyo Streams

on:
  schedule:
    - cron: '*/5 * * * *' # Her 5 dakikada bir çalışır
  workflow_dispatch: # Manuel tetikleme butonu

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          pip install requests

      - name: Run Script
        run: python wenyo.py # Dosya ismi güncellendi

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          # Emu klasörünü ekle
          git add Emu/*.m3u8
          git commit -m "Emu klasörü güncellendi" || exit 0
          git push
